# Environment variables
.env 
.env.*
!.env.example

# Dependency Directories
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Build / coverage output
coverage/
dist/
build/

# Temporary files
tmp/
temp/
